# Build output directories
/target
*/target
/build
*/build
/bin
*/bin
*/test-output

# IntelliJ specific files/directories
/out
.idea
*.ipr
*.iws
*.iml

# Eclipse specific files/directories
.classpath
.project
.settings
